@import "template.scss";

$top-bread-crumbs-height: 148px;
.top-bread-crumbs {
    width: 100%;
    height: $top-bread-crumbs-height;
    background-color: $colour-f8f3f4;
    margin-bottom: 90px;
    .top-bread-crumbs-content {
        height: $top-bread-crumbs-height;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .last-point {
            font-size: 24px;
            line-height: 20px;
            font-weight: 900;
            text-transform: uppercase;
            color: $colour-f16d7f;
        }
        .path {
            display: flex;
            justify-content: space-between;
            .bread-crumb-separator {
                font-size: 14px;
                line-height: 20px;
                font-weight: 300;
                color: $colour-636363;
            }
            .bread-crumb {
                display: block;
                font-size: 14px;
                line-height: 20px;
                font-weight: 300;
                padding: 0 5px;
                text-transform: uppercase;
                color: $colour-636363;
                transition: 0.3s;
                &:hover  {
                    color: $colour-f16d7f;
                }
                &:last-child {
                    font-weight: 700;
                    color: $colour-f16d7f;
                    &::after {
                        content: "";
                    }
                }
            }
        }
    }
}