@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import "standart.scss";
@import "normalize.scss";

$content-width: 1140px;
$logo-height: 59px;
$logo-image-size: $logo-height - 1px;
$logo-padding-left: $logo-image-size + 12px;
$logo-width: 165px;
$colour-222: #222;
$colour-f16d7f: #f16d7f;
$colour-e6e6e6: #e6e6e6;
$colour-cdcdcc: #cdcdcc;
$colour-f9f9f9: #f9f9f9;
$colour-9f9f9f: #9f9f9f;
$colour-f5f5f5: #f5f5f5;
$colour-a4a4a4: #a4a4a4;
$colour-f2f2f280: #f2f2f280;
$colour-d6d6d6: #d6d6d6;
$colour-e1e1e1: #e1e1e1;
$colour-898989: #898989;
$colour-7a7a7a: #7a7a7a;
$colour-e8e8e8: #e8e8e8;
$colour-0000002b: #0000002b;
$colour-00000080: #00000080;
$colour-fbfbfb: #fbfbfb;
$box-shadow-5580: 5px 5px 8px 0 $colour-0000002b;
$box-shadow-0580: 0 5px 8px 0 $colour-0000002b;
$linear-gradient: linear-gradient(180.0deg, $colour-f9f9f9 0%, $colour-f5f5f5 100%);
