@import "common-data.scss";

$offer-big-img-height: 542px;
$offer-small-img-height: 261px;
$offer-width: $content-width / 2 - 10px;
$bottom-banner-height: 529px;

.top-banner {
    height: 614px;
    background-color: $colour-e8e8e8;
    .top-banner-content {
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: url(../images/topHeaderBack.png);
        background-repeat: no-repeat;
        background-position: 579px 0px;
        background-size: 554px;
        .top-banner-text {
            width: 509px;
            height: 92px;
            border-left: 12px solid $colour-f16d7f; 
            padding-left: 12px; 
            font-weight: 900;
            letter-spacing: 0.025em;
            color: $colour-222;
            div:first-child {
                font-size: 60px;
                line-height: 45px;
            }
            div:last-child {
                font-size: 40px;
                line-height: 60px;
                .last-word {
                    color: $colour-f16d7f;
               }
            }
        }
    }
}
.main-content {
    padding: 100px 0;
    .recommendations {
        height: 823px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
        margin-bottom: 100px;
        .offer {
            position: relative;
            width: $offer-width;
            &:hover{
                cursor: pointer;
                box-shadow: $box-shadow-5580;
                .offer-label{
                    box-shadow: $box-shadow-5580;
                }
            }
            .offer-label {
                position: absolute;
                top: 26px;
                height: 50px;
                background-color: white;
                padding: 16px 20px;
                p {
                    line-height: 1.2;
                    font-weight: 900;
                    text-transform: uppercase;
                    letter-spacing: 0.025em;
                    &:first-child {
                        font-size: 18px;
                        color: $colour-222;
                    }
                    &:last-child {
                        font-size: 30px;
                        color: $colour-f16d7f;
                    }
                }
            }
        }
        .offer-left-top {
            height: $offer-big-img-height;
            background-image: url(../images/offer1.jpg);
        }
        .offer-left-bottom {
            height: $offer-small-img-height;
            background-image: url(../images/offer2.jpg);
        }
        .offer-right-top {
            height: $offer-small-img-height;
            background-image: url(../images/offer3.jpg);
        }
        .offer-right-bottom {
            // height: 542px;
            height: $offer-big-img-height;
            background-image: url(../images/offer4.jpg);
        }
    }
    .featured-items-title {
        h2 {
            font-size: 30px;
            font-weight: 700;
            letter-spacing: 0.025em;
            color: $colour-222;
            text-align: center;
        }
        p {
            margin-top: 10px;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.025em;
            color: $colour-9f9f9f;
            text-align: center;
        }
    }
    .featured-items {
        margin-top: 60px;
        width: inherit;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
        .featured-item {
            position: relative;
            width: 260px;
            height: 370px;
            margin-bottom: 40px;
            &:hover .featured-item-buy{
                display: block;
                cursor: pointer;
            }
            & > img {
                width: inherit;
                height: 280px;
            }
            & > p {
                max-height: 40px;
                line-height: 40px;
                overflow: hidden;
                margin: 0 15px;
                font-weight: 700;
                text-transform: uppercase;
            }
            .product-name {
                font-size: 14px;
                color: $colour-222;
            }
            .product-price {
                font-size: 16px;
                color: $colour-f16d7f;
            }
            .featured-item-buy {
                position: absolute;
                width: inherit;
                height: inherit;
                display: none;
                box-shadow: $box-shadow-0580;
                .featured-item-buy-blackout {
                    width: inherit;
                    height: 280px;
                    background: $colour-00000080;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .add-to-cart {
                        width: 123px;
                        height: 39px;
                        border: 1px solid white;
                        box-sizing: border-box;
                        padding-left: 25px;
                        background-image: url(../images/addToCart.png);
                        background-repeat: no-repeat;
                        background-size: 23px;
                        background-position-y: center;
                        background-position-x: 10%;
                        p {
                            font-size: 13px;
                            line-height: 39px;
                            font-weight: 700;
                            color: white;
                            text-align: center;
                            text-transform: none;
                        }
                    }
                }
            }
        }
    }
    .browse-all-product {
        width: 212px;
        height: 48px;
        background-color: $colour-f16d7f;
        text-align: center;
        margin: 0 auto;
        font-size: 16px;
        line-height: 48px;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: white;
        &:hover {
            cursor: pointer;
            background-color: $colour-cdcdcc;
            background-image: $linear-gradient;
            outline: 1px solid $colour-e6e6e6;
            color: $colour-222;
        }
    }
    .bottom-banner {
        height: $bottom-banner-height;
        background-image: url(../images/offerForWomen.jpg);
        background-repeat: no-repeat;
        background-size: 767px;
        background-color: $colour-222;
        margin-top: 100px;
        .bottom-banner-text {
            padding-top: 146px;
            float: left;
            p {
                font-weight: 700;
                letter-spacing: 0.025em;
                color: white;
                padding-left: 40px;
                &:first-child {
                    font-size: 53.7px;
                    .last-word {
                        color: $colour-f16d7f;
                    }
                }
                &:last-child {
                    font-size: 32.2px;
                }
            }
        }
        .bottom-banner-panel {
            width: 373px;
            height: $bottom-banner-height - 40px;
            float: right;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            .bottom-banner-panel-item {
                width: 250px;
                height: 100px;
                padding-left: 60px;
                background-repeat: no-repeat;
                background-size: 40px;
                color: $colour-fbfbfb;
                h2 {
                    font-size: 20px;
                    line-height: 34px;
                    font-weight: 700;
                    letter-spacing: 0.025em;
                    margin-bottom: 10px;
                }
                p {
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 24px;
                    max-height: 72px;
                    overflow: hidden;
                }
                &:nth-child(1) {      
                    background-image: url(../images/offerDetails1.png);
                } 
                &:nth-child(2) {      
                    background-image: url(../images/offerDetails2.png);
                }
                &:nth-child(3) {      
                    background-image: url(../images/offerDetails3.png);
                }
            }
        }
    }
}