@import "bread-crumps-template.scss";

$side-bar-header-height: 37px;

.main-content {
  min-height: 1500px;
  display: flex;
  justify-content: space-between;
  .side-bar {
    width: 237px;
    .side-bar-item {
      margin-bottom: 18px;
      .side-bar-header {
        font-size: 14px;
        height: $side-bar-header-height;
        font-weight: 700;
        text-transform: uppercase;
        color: $colour-ef5b70;
        border-left: 5px solid $colour-ef5b70;
        border-bottom: 1px solid $colour-ebebeb;
        padding-left: 11px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
      }
      .side-bar-item-content {
        font-size: 14px;
        line-height: 33px;
        font-weight: 400;
        color: $colour-6f6e6e;
        padding-left: 17px;
      }
    }
  }
}